{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partialsmain/head.html" %}
<!-- End of Head -->

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "partialsmain/topheader.html" %}
    <!-- End of Sidebar -->
  

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column mt-5">

      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">
          
          <!-- Card Information -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Information</h6>
                </div>
                <div class="card-body">
                  Welcome {{user.first_name}} {{user.last_name}} to the world of News Detect System which
                  is a System that is usefull for news readers, business experts and government departments
                  to check their news and news concistency inorder to prevent from the fake news.

                  
              </div>
                
            </div>
          </div>
          <!-- end card information -->

          <!-- Card Information -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Information</h6>
                </div>
                <div class="card-body">
                  News Detection System is a reverse search engine that enables the users to search the News by uploading their News title to see the features that matches to the other existing News.
                </div>
            </div>
          </div>
          <!-- end card information -->
        </div>
        <!--End of container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "partialsmain/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap & JavaScript Plugins-->
  {% include "partialsmain/script.html" %}

</body>

</html>