{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partialsmain/head.html" %}
<!-- End of Head -->

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Begin Top Header -->
    {% include "partialsmain/topheader.html" %}
    <!-- End of Top Header -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column mt-5">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid mt-5">
          <!-- Insert Pages -->

          <!-- Begin Login -->
          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <!-- start card - 2 -->
          <div class="card text-center w-100 my-2">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- start card - 2 -->

          <!-- End Begin Login -->

          <!-- End Pages -->

        </div>
        <!--End of Page Content -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "partialsmain/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap & JavaScript Plugins-->
  {% include "partialsmain/script.html" %}

</body>

</html>
<!-- End of Page Wrapper -->

<!-- Bootstrap & JavaScript Plugins-->
{% include "partialsmain/script.html" %}

</body>

</html>