{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partialsmain/head.html" %}
<!-- End of Head -->

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Begin Top Header -->
        {% include "partialsmain/topheader.html" %}
        <!-- End of Top Header -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mt-5">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid mt-5">
                    <!-- Insert Pages -->

                    <div class="card text-center mx-auto my-5" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title font-weight-bold">NewsDetect</h5>
                          <h5>Password Reset</h5>
                          <form action="" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Password Reset">
                          </form><br>
                          <p class="font-weight-bold">Don't Have an Account <a href="{% url 'authapp:signup'  %}"><Strong>Sign
                                Up</Strong></a></p>
                          <!-- <a href="#" class="btn btn-primary">Email Us</a> -->
                        </div>
                      </div>

                    <!-- End Pages -->

                </div>
                <!--End of Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "partialsmain/footer.html" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap & JavaScript Plugins-->
    {% include "partialsmain/script.html" %}

</body>

</html>