{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partialsmain/head.html" %}
<!-- End of Head -->

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Begin Top Header -->
        {% include "partialsmain/topheader.html" %}
        <!-- End of Top Header -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mt-5">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid mt-5">
                    <!-- Insert Pages -->

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-center mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Confirm Password Reset</h1>
                    </div>
                    <!-- End Page Heading -->
                    {% if validlink %}
                    <h3>Change password</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary w-100 font-weight-bold" type="submit">Change password</button>
                    </form>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    {% endif %}

                    <!-- End Pages -->

                </div>
                <!--End of Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "partialsmain/footer.html" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap & JavaScript Plugins-->
    {% include "partialsmain/script.html" %}

</body>

</html>