{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partialsmain/head.html" %}
<!-- End of Head -->

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Begin Top Header -->
        {% include "partialsmain/topheader.html" %}
        <!-- End of Top Header -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column mt-5">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid mt-5">
                    <!-- Insert Pages -->

                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'authapp:login' %}"><strong>Login Now </strong></a>
                      </p>

                    <!-- End Pages -->

                </div>
                <!--End of Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "partialsmain/footer.html" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap & JavaScript Plugins-->
    {% include "partialsmain/script.html" %}

</body>

</html>