<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent bg-dark">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1><a href="index.html">NewsDetect</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    </div>
    {% if user.is_authenticated %}
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="#hero">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#about">About</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#services">Services</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#portfolio">Detect News</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#pricing">Read</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#team">Contact</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{% url 'authapp:logout' %}">Logout</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    {% else %}
    <nav id="navbar" class="navbar">
      <ul class="">
        <li>
          <a class="nav-link scrollto active" href="#hero">Home</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="{% url 'authapp:login' %}">Login</a>
        </li>        
        <li>
          <a class="nav-link scrollto" href="#about">Sign Up</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</header>
<!-- End Header -->
